.queue-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  div.empty {
    text-align: center;

    h5 {
      margin: 0;
    }
  }

  .queue-item {
    box-shadow: none !important;

    .form-group {
      width: 100%;
    }

    .tags-grid {
      display: flex;
      flex-wrap: wrap;

      .tag {
        margin: 0 7px 7px 0;

        i {
          margin-left: 5px;
        }
      }
    }
  }

  .pagination {
    align-self: center;
    justify-self: center;
  }
}