@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

#welcome-page-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#homePageImage {
  background-image: url('/home_page_image.jpg');
  width: 100%;
  height: 65vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}