@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

html {
    font-size: 14px;
}

* {
    font-family: Roboto, Arial, sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
}

.page {
    padding: 0 1rem 1rem 1rem;

    @include media-breakpoint-up(lg) {
        padding: 0 2rem 2rem 2rem;
    }
}

.mapouter {
    position: relative;
    text-align: right;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

homepage-map {
    iframe, .mapouter, .gmap_canvas {
        width: 80vw;
        height: 80vh;
    }
}

.gmaps {
    display: flex;
    justify-content: center;
}

.card.card {
    background-color: #F6F5FA;
    border: none;
    border-radius: 10px;

    .card-title {
        padding: 1.25rem 1.25rem 0;
        margin-bottom: 0;
    }
}

.h5.h5, .h6.h6 {
    letter-spacing: -0.4px;
    color: #61616D;
}

.h5.h5 {
    font-weight: 500;
    font-size: 28px;
}

.h6.h6 {
    font-weight: bold;
    font-size: 24px;
}

.tag {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.8);
    padding: .5em .75em;
    border-radius: .28571429rem;
    font-size: 0.8rem;
}