.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
keystore.p12

### SSL ###
*.p12
*.pem

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# Custom db runner script
run_db.cmd

# Travis
.travis/id_rsa

**/.DS_Store