@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-wrapper {
    position: relative;
}

.overlay {
    background-color: rgb(0,0,0);
    opacity: 0;
    transition: opacity 0.05s ease-in;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    cursor: pointer;
    border-radius: 14px;

    &:hover {
        opacity: 0.7;
    }
}

.image {
    border-radius: 14px;
    height: 29rem;
    width: 29rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}

.image-selection {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    .image-option {
        margin-right: 1rem;
        padding: 0.35rem;
        background-color: #e8e8e8;
        transition: background-color 0.1s ease-in;
        border-radius: 100%;
        cursor: pointer;
        &.selected {
            background-color: $primary;
            &:hover {
                background-color: darken($primary, 20%);
            }
        }
        &:hover {
            background-color: darken(#e8e8e8, 20%);
        }
    }
}

.modal-content {
    background-color: rgba(0,0,0,0);
    border: 0;
    .modal-header {
        border: 0;
        color: white;
        button {
            color: white;
        }
    }
    .modal-body .caption {
        padding-top: 2rem;
        color: white;
        text-align: center;
    }
}

.modal {
    background-color: rgba(0,0,0,0.5);
}