.bulk-edit {
  display: flex;
  justify-content: space-between;

  .row {
    width: 100%;
  }

  .card {
    justify-self: center;
    height: 75vh;

    &:last-child {
      overflow-y: auto;
    }

    .card-header {
      align-self: center;
    }
  }
}
