@import "../../theme";

.bulk-create-form-container {
    width: 600px;

    input[type='file'] {
        display: none;
    }
}

.field-mapping-table {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .row {
        flex-wrap: nowrap;
        width: 100%;

        > .column {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}