@import "../../theme";

.create-form-container {
  padding-left: 22rem;

  .h5 {
    padding-bottom: 1rem;
  }

  .form-label {
    font-weight: bold;
  }

  .text-control {
    width: 25rem;
  }

  .text-control-small {
    width: 10rem;
  }

  .select-control {
    width: 10rem;
  }

  .multi-line-text-control {
    width: 25rem;
  }

  .btn-toolbar {
    padding-left: 5rem;
    padding-bottom: 4rem;

    .btn {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
    }
  }

  .advanced-information-link {
    cursor: pointer;
    color: $primary;
    padding-top: 1.5rem;
    padding-left: 8.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .address-coordinates-container {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 0.5rem 0 0.5rem 0.5rem;
    width: 30rem;
    margin-bottom: 1rem;

    span {
      padding-bottom: 0.5rem;
      display: flex;
    }

    .form-group {
      padding-left: 1rem;
    }
  }

  .date-container {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 0.5rem 0 0.5rem 0.5rem;
    width: 30rem;
    margin-bottom: 1rem;

    .form-row {
      padding-left: 0.5rem;
    }

    .form-label {
      display: flex;
    }

    .react-datepicker__input-container input {
      color: #495057;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
    }

    .react-datepicker__day--selected {
      background-color: $primary;
    }
  }

  .fileUploader {
    width: 25rem;

    .fileContainer {
      box-shadow: none;
      margin: 0;
      padding: 0;

      .chooseFileButton {
        background: $primary;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        margin: 0 0 10px 50px;
      }

      .deleteImage {
        background: $danger;
      }
    }
  }

  .invalid-feedback {
    font-size: medium;
  }

  .tags-search {
    width: 30rem;
    min-height: 7rem;

    &:focus-within {
      border-color: #9ddcc0;
      box-shadow: 0 0 0 0.2rem rgba(66, 184, 131, 0.25);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .references-container {
    div {
      padding-bottom: 1rem;
    }

    .reference-container:last-child {
      padding-bottom: 0;
    }

    .add-reference-link {
      cursor: pointer;
      color: $primary;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}