@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.confirm-signup-page {
  .card {
    @include media-breakpoint-up(md) {
      min-width: 300px;
      max-width: 400px;
    }
    white-space: normal;

    .card-header {
      padding-bottom: 0;

      .card-title {
        padding: 1rem 0 0;
      }
    }
  }
}