.modal-content {
  .duplicate-monuments {
    &.modal-header {
      padding-bottom: 0;

      .modal-title {
        color: #61616D;
        font-size: x-large;
      }
    }

    &.modal-footer {
      border-top: 2px solid #DEE2E6;

      .btn {
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
      }
    }

    &.modal-body {
      p {
        font-size: medium;
      }

      .duplicates-container {
        border: 2px solid #DEE2E6;
        max-height: 470px;
        overflow: auto;
        padding-top: 0.25rem;
      }
    }
  }

  hr.duplicate-monuments {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }
}