@import "../../../../theme";

.statistic-card-container {
  .card {
    background-color: #DBD8E6 !important;
    width: 300px;
    height: 285.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .card-title {
      color: $primary;
      font-size: 4vw;
      justify-content: center;
      text-align: center;
      display: flex;
      margin-bottom: 48px;

      &.small {
        font-size: 2vw;
      }
    }

    .card-footer {
      border: none;
      font-size: medium;
      font-weight: bold;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 100%;
    }
  }
}