.search-clear {
    position: absolute;
    right: 0.5em;
    font-size: 1.5em;
    color: rgb(33, 37, 41);
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
    top: 0.25em;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}