.suggestion-created-page-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .card.card {
    max-width: 50%;

    .card-title {
      text-align: center;
    }

    p {
      font-size: medium;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        max-width: 200px;
      }
    }
  }
}