@import "../../../theme";

.admin .panel .home {
    display: flex;
    justify-content: center;
    .card {
        max-width: 600px;
        width: 100%;
    }

    .email-link {
        text-decoration: underline;
        color: $primary;
    }
}