.tags-search {
  border: 1px solid #CED4DA;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  .search {
    position: relative;
    max-width: 100%;
    margin-top: 0.5rem;
    input {
      border: none;
      background-color: rgba(0,0,0,0);
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
  .tags {
    border: none;
  }
  .selected-tags .tags {
    padding: 0.75rem 0.75rem 0;
  }
  .search-results {
    flex: 100%;
    .tags {
      padding: 0.5rem 0.75rem 0.75rem;
    }
  }
}