.bulk-create-suggestion.card.card {
  border: 1px solid rgba(0, 0, 0, 0.125);

  .bulk-create-suggestion-header {
    padding-bottom: 0.5rem;
  }

  .create-suggestions {
    .create-suggestion:last-child {
      margin-bottom: 1rem;
    }
  }
}