@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.search-result {
    display: flex;
    .card {
        width: 100%;
        background-color: white;

        .card-body {
            padding: 0.25rem 0 0;
        }

        .card-title.h5 {
            font-size: 1.25rem;
            padding: 0;
            a {
                color: $secondary;
            }
        }
    }
    .icon {
        min-width: 128px;
        width: 128px;
        height: 128px;
        border-radius: 14px;
        background-image: url("https://timedotcom.files.wordpress.com/2016/02/lincoln-memorial-restoration.jpg?w=800&quality=85");
        background-position: center;
        background-size: cover;
    }
}