.tab-content {
    // Account for the height of the tab header
    height: calc(100% - 37px);
    .tab-pane {
        height: 100%;
        .tab-content-wrapper {
            padding-top: 0.25rem;
            height: 100%;
        }
        &#map_photo_sphere_tabs-tabpane-images .tab-content-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}

iframe {
    height: 100%;
}

.nav-tabs .nav-link {
    display: block !important;
    padding: .5rem !important;
    min-width: 75px;
    text-align: center;
}

.imageInfo {
    font-size: 14px;
}

.detail-label {
    font-weight: 500;
}
