@import "../../../../theme";

.modal-content {
  min-width: fit-content;

  .update-review-modal {
    &.modal-header {
      padding-bottom: 0;

      .modal-title {
        color: #61616D;
        font-size: x-large;
      }
    }

    &.modal-body {
      padding: 0.25rem 1rem 0.25rem 1rem;
      overflow: hidden;
      white-space: nowrap;
      min-width: fit-content;

      p {
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 14px;
      }

      .attributes-update-container {
        border: thin solid;
        background-color: lightgray;
        padding: 0.5rem;
        font-size: medium;

        i {
          font-size: 36px;
        }

        .attribute-update {
          display: flex;
          align-items: center;

          .old-attribute {
            padding-right: 0.25rem;
          }

          .new-attribute {
            padding-left: 0.25rem;
          }

          .none {
            color: red;
            font-weight: bold;
          }
        }

        .updated-references {
          .reference-update-list {
            .reference-update {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .attribute-label {
        font-weight: bold;
      }
    }

    &.modal-footer {
      border-top: 2px solid #DEE2E6;

      .btn {
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  hr.update-review-modal {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }

  .added {
    color: green;
    font-weight: bold;
  }

  .removed {
    color: red;
    font-weight: bold;
  }
}