@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../theme";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  vertical-align: top;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    &:after {
      content: '|';
      margin: 0 0.5rem;
    }
  }
}

