.account.page {
    .card {
        min-width: 450px;
        max-width: 450px;
    }

    .verified-icon {
        font-size: 1.25em;
        transform: translate(2px, 3px);
        margin-top: -5px;
    }
}