@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.account.page {
    .card {
        @include media-breakpoint-up(md) {
            min-width: 450px;
            max-width: 600px;
        }
    }

    .verified-icon {
        font-size: 1.25em;
        transform: translate(2px, 3px);
        margin-top: -5px;
    }
}