@import "../../../theme";

.create-suggestions {
  .create-suggestion:not(:first-child) {
    margin-top: 1rem;
  }

  .collapse-link {
    cursor: pointer;
    color: $primary;
    text-decoration: underline;
    font-size: small;
    font-weight: bold;
    text-align: center;
  }

  .hidden-create-suggestions {
    margin-top: 1rem;
  }
}