.admin .panel .manage-monuments {
    display: flex;
    justify-content: center;

    .card-title {
        padding: 0;
    }

    .card-header {
        padding: 2rem 1.25rem 0.75rem 1.25rem;
    }

    .search-bar {
        margin-bottom: 1rem;
    }

    .text-search, .location-search {
        flex-grow: 2;
        padding-right: 0.5rem;
        input {
            width: 100%;
        }
    }

    .search-result .card {
        box-shadow: none;
    }

    .search-column {
        max-height: calc(100vh - 300px);
        padding: 0;
    }

    .manage-monument {
        .card {
            box-shadow: none;
            margin-top: 0 !important;
            .card-header, .card-body, .card-title {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
            }
            .card-body {
                padding-bottom: 0;
            }
        }
        .images {
            display: flex;
            justify-content: flex-start;
            padding: 0.5rem 0 1rem;
            .image {
                width: 128px;
                height: 128px;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: black;
                background-position: center;
                border-radius: 12px;
                margin-right: 1rem;
            }
        }
        .buttons {
            margin-top: 0.25rem;
            a, button {
                margin-right: 0.75rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .update-monument-page-container {
        .column.left, .column:last-child {
            display: none;
        }
        .create-form-container {
            padding: 0;
            .h5.update {
                display: none;
            }
        }
    }
}