@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.filters {
    margin-bottom: 1rem;
}


.filter-body {
    border: 1px solid #CED4DA ;
    border-radius: .25rem;
    display: flex;
    flex: 90%;
    margin-bottom: 10px;
}

.add-filter {
    display: inline-flex;
    margin-bottom: 10px;
    
}

.filter-type {
    background-color: #42b883;
    border: none;
    border-radius: 10%;
    margin-left: 5px;
    color: white;
}