@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.filters {
    margin-bottom: 1rem;
}


.filter-body {
    border-bottom: 1px solid #CED4DA ;
    display: flex;
    flex: 90%;
}

.add-filter {
    display: inline-flex;
    float: right;
    padding: 0 .5em;
    
}

.filter-header {
    padding: .5em 0em;
    border-bottom: 1px solid #CED4DA;
    border-top: 1px solid #CED4DA ;
}
.filter-type {
    background-color: #42b883;
    border: none;
    border-radius: 10%; 
    margin-right: 5px;
    color: white;
    padding-bottom: 3px;
    span{
        margin: auto;
    }
}

.expander {
    display: inline-flex;
    align-items: center;
    padding: 0 .5em;
    cursor: pointer;
    i{
        opacity: 70%;
    }
    span{ 
        margin-left: 3px;
        opacity: 60%;
    }
    
}