.filters {
    margin-bottom: 0.5rem;
}

.tags-container {
    margin-top: 1rem;
    display: flex;
    .tags-filter {
        flex: 50%;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}