@import "../../../../theme";

.manage-suggestion {
    .create-suggestion.card {
        border: none;
        box-shadow: none !important;

        .card-title {
            font-size: 17px;
        }
    }

    .approved {
        border: 2px solid $primary;
        color: $primary;
    }

    .rejected {
        border: 2px solid red;
        color: red;
    }
}