@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../theme";

i {
  color: $primary;
}

.city-state {
  position: absolute;
  padding-top: 0.2rem;
}