@import "../../../theme";

.attribute-update-container {
  .no-attributes-changed-message {
    font-weight: bold;
    text-align: center;
    font-size: large;
  }

  hr.unchanged-attributes-divider {
    width: 100%;
    border-top: 2px dotted rgb(0, 0, 0);
    margin-bottom: 0.5rem;
  }

  .collapse-link {
    cursor: pointer;
    color: $primary;
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
}