.header {
    display: flex;
    padding: 2rem;
    font-size: 0.875rem;
    position: relative;

    .left {
        flex: 20%;
    }

    .center {
        flex: 60%;
        display: flex;
        justify-content: center;
    }

    .right {
        flex: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .tabletLeft {
        flex: 10%;
    }

    .tabletCenter {
        flex: 80%;
        display: flex;
        justify-content: center;
    }

    .tabletRight{
        flex: 10%;
        display: flex;
        justify-content: flex-end;
    }

    .header-icon {
        width: 35px;
        height: 35px;
    }

    .right > * {
        margin-right: 0.5rem;
    }

    .links > * {
        margin-right: 1.5rem;
    }

    .right > *:last-child, .links > *:last-child {
        margin-right: 0;
    }

    .header-link {
        &.header-link, &:active, &:focus, &:hover, &:visited {
            color: #35495e;
            text-decoration: none;
        }
    }

    .header-link, .btn {
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        transition: color 0.1s ease;
        line-height: 21px;
    }

    .header-link:hover, .header-link.active, .btn-link-secondary:hover {
        color: #42b883;
    }

    input.form-control {
        width: 60%;
    }
}
