.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.15rem;
}

.header .right > *, .header .center > * {
    margin-right: 1.5rem;
}

.header .right > *:last-child, .header .center > *:last-child {
    margin-right: 0;
}

.header a, .header a:visited, .header a:active, .header a:link, .header a:hover {
    text-decoration: none;
    color: black;
    padding: 4px 8px;
}

.header a:hover {
    background-color: #AA80FF;
    color: white;
}