.attribute-update {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-word;

  i {
    font-size: 36px;
  }

  .old-attribute {
    padding-right: 0.25rem;
  }

  .new-attribute {
    padding-left: 0.25rem;
  }

  .none {
    color: red;
    font-weight: bold;
  }
}