@import "../../../theme";

.tag {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.8);
    padding: .5em .75em;
    border-radius: .28571429rem;
    font-size: 0.8rem;
    width: min-content;
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    i {
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 0.1s ease-in;
        &:hover {
            color: $primary;
        }
    }

    &:hover {
        background-color: #d9d9d9;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

    &:hover .material-icons {
        color: #42b883;
    }
}

a.tag:hover {
    text-decoration: none;
}
