@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.search-results-page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  > div {
      flex: 33%;
      &.map-column {
          flex: 10%;
          @include media-breakpoint-up(lg) {
              flex: 33%;
          }
      }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.map-column {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 1000px;
  @include media-breakpoint-down(md) {
    flex: 0 0 100%;
    height: 30%;
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-end;
  }
  .leaflet-container {
    height: 100%;
  }
}

.search-column {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 4rem;

  @include media-breakpoint-down(xs) {
    flex: 0 0 100%;
    height: 100%;
    .search-result {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    flex: 0 0 100%;
    height: 70%;
  }

  @include media-breakpoint-up(lg) {
    width: 40%;
    max-width: calc(100vw - 2rem);
    height: 100%;
  }


  .search-result {
    margin-bottom: 1.5rem;
  }
}

.search-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: visible;

  .search-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div {
      margin-top: 3%;
      @include media-breakpoint-up(md) {
        margin-top: 0%;
      }
    }

    & > * {
      display: flex;
      white-space: nowrap;
      align-items: center;
    }
    
    select, input {
      padding: 0.25rem 0.4rem;
      height: min-content;
    }
  }
}

.spinner-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pagination-container {
    position: sticky;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1;
    .pagination {
        background-color: white;
        .page-link {
            border: 0 !important;
        }
    }
}