@import "../../../theme";

.related {
  .related-monuments-container {
    .search-result {
      .monument-thumbnail {
        $size: 64px;
        min-width: $size;
        width: $size;
        height: $size;
      }

      .card {
        .card-title.h5 {
          font-size: 1.15rem;
        }
      }
    }

    .related-monuments-link {
      cursor: pointer;
      color: $primary;
      padding-left: calc((100% / 2) - 10rem);
      padding-top: 0.5rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}